@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  src: url('../assets/fonts/intertight/InterTight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  src: url('../assets/fonts/intertight/InterTight-italic.ttf') format('truetype');
}